body {
    background-color: #ffb3c6;
    background-size: 73%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: purple;
    margin: 0;
    padding: 0;
    justify-content: center;
}

header {
    background-color: #ff8fab;
    padding: 1;
    text-align: left;
    color: purple;
}

header h1 {
    font-family: 'Tahoma', sans-serif;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    margin-left: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    color: purple;
}

section {
    padding: 0;
    text-align: center;
}

.container {
    width: 78%;
    margin: auto;
}

.container img {
    width: 250px;
    height: auto;
}

.product {
    display: inline-block;
    margin: 20px;
}

.product img {
    width: 200px;
    height: auto;
}

fieldset {
    border: 0;
}

.form-group {
    display: inline-block;
    vertical-align: top;
    margin-inline: 10px;
}

.form-pele {
    display: inline-block;
    vertical-align: top;
    margin-left: 48px;
    margin-right: 0;
}

.form-alergia {
    display: inline-block;
    vertical-align: top;
    margin-left: 55px;
    margin-right: 4px;
}

.form-melasma {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    margin-right: 6px;
}

.form-textarea {
    display: inline-block;
    vertical-align: top;
}

.no-resize {
    resize: none;
}

button {
    color: purple;
    border-radius: 5px;
}

.botao {
    font-size: 1;
    background: purple;
    border: 0;
    margin-top: 5px;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
    background: brown;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

footer {
    background-color: brown;
    color: white;
    padding: 1px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width:100%;
}